//@import "reset"

#test
    background #000
    
#quote a
    background transparent url("http://www.w3.org/html/logo/downloads/HTML5_Badge_128.png") no-repeat
    width 128px
    height 128px
    right 110px
    top 25px
   
#quote a:hover
    background-position 0 0

#splash
    height 550px

#header .logo a
    width 250px